#contacts-wrapper
  %h2 Офис в Академгородке:
  .left-block
    .item.address
      = @contacts.address
    .item.item-title
      %span
        Прием заказов:
      %br
      %span
        Монтажный отдел:
      %br
      %span
        Email:
    .item.item-content
      %span
        = @contacts.order_phone
      %br
      %span
        = @contacts.montage_phone
      %br
      %span
        = @contacts.email
  .right-block
    #map
  .bid_button.with-text-warning
    %a{href: '/'}
    .bid_button_text
      ОСТАВИТЬ ЗАЯВКУ НА ЗАМЕР