#menu_logo
  height: 100%
  display: inline-block
  vertical-align: top
  width: 280px
  text-align: center
  img
    margin-top: 45px


.menu_separator
  height: 100%
  display: inline-block
  border-left: 1px solid #5e5858
  margin: 0 6px 0 5px

#menu_info
  height: 100%
  display: inline-block
  vertical-align: top
  width: 280px
  font-family: Segoe
  color: #ffffff

  #working_hours_block
    width: 100%
    margin-top: 30px
    img
      display: inline-block
    #working_hours
      display: inline-block
      width: 234px
      margin-left: 14px
      #working_days
        font-size: 18px
      #weekends
        font-size: 14px

  #summon_block
    width: 100%
    margin-top: 25px
    font-size: 18px
    #summon_title
      display: inline-block
      vertical-align: top
      margin-top: 8px
      width: 158px
    #summon_hours
      display: inline-block
      width: 117px

#menu_contacts
  height: 100%
  width: 280px
  display: inline-block
  vertical-align: top
  font-family: Segoe
  color: #ffffff

  #phone
    width: 100%
    margin-top: 34px
    img
      display: inline-block
    #phone_number
      display: inline-block
      vertical-align: top
      margin-left: 10px
      font-size: 26px
      font-weight: bold

  #phone_title
    text-decoration: underline
    font-size: 24px
    margin-top: 25px
    text-align: center
    a
      color: #ffffff
