#popover_background
  height: 100%
  width: 100%
  position: absolute
  left: 0
  top: 0
  opacity: 0.7
  background-color: #000000
  display: none

#popover_container
  z-index: 1000
  display: none
  position: absolute
  top: 60px
  left: 30px
  width: 310px
  height: auto
  border-radius: 5px
  font-size: 14px
  color: #6c6c6c
  background: #ffffff

  #popover_block
    position: relative
    margin: 10px 0
    .input_error
      border: 1px solid red
    .input-wrap
      width: 250px
      height: 20px
      margin: 20px auto 0 auto
      input, textarea
        float: right
        width: 230px
        height: 18px
        border: none
        outline: none
      textarea
        resize: none
        height: 76px
        font:
          family: Segoe UI
          size: 14px
    .input-field
      height: 80px
    .button-wrap
      cursor: pointer
      input.bid_button
        border: none
        margin-left: 18px
        outline: none
        font:
          family: Segoe UI
          weight: bold
          size: 16px
        color: #ffffff
  #close_button
    position: absolute
    right: -18px
    top: -38px
    height: 36px
    width: 36px
    background-image: url(fancybox_sprite.png)
    cursor: pointer

  #new_bid
    input.submit_button
      cursor: pointer
      position: relative
      width: 275px
      height: 35px
      border-radius: 20px
      align: right
      margin-left: auto
      margin-right: 5px
      border: none
      margin-left: 18px
      outline: none
      font:
        family: Segoe UI
        weight: bold
        size: 16px
      color: #ffffff

#popover_success
  z-index: 1001
  display: none
  position: absolute
  left: -35px
  top: 150px
  height: 150px
  width: 450px
  #popover_text
    margin-top: 40px
    text-align: center
    color: #000000
    font-size: 26px
    margin: 30px auto
  .bid_button
    align: center
    margin: 0 auto

#for_label_2
  position: absolute
#for_label
  margin: 10px auto
.validation_message, .validation_message_2
  display: none
  width: 100%
  margin-left: 30px
  color: red
  text-align: center
