.main_column{id: 'first_column'}
  %a.first_column{href: '/', title: 'Натяжные потолки'}
    %img{src: '/images/main-1.png'}
    .main_column_title
      Натяжные потолки
    .main_column_text
      Полотна от ведущих европейских производителей. От недорогих до элитных.
      Весь товар сертифицирован
.main_separator

.main_column{id: 'second_column'}
  %a.second_column{href: '/', title: 'Точечные светильники'}
    %img{src: '/images/main-2.png'}
    .main_column_title
      Точечные светильники
    .main_column_text
      Каталог светильников постоянно пополняется новыми модификациями светильников.
      Продукция имеет все необходимые сертификаты, доступные цены и наличие
      %br
      3-хлетней гарантии.

.main_separator

.main_column{id: 'third_column'}
  %a.third_column{href: '/', title: 'Наливные 3D полы'}
    %img{src: '/images/main-3.png'}
    .main_column_title
      Наливные
      %br
      3D полы
    .main_column_text
      Декоративные наливные и 3D полы уникальная современная технология, которая позволяет воплотить в жизнь любую дизайнерскую задумку.