//= require_self
//= require fancybox
//= require_tree ./lib/
//= require_tree ./partials

html
  min-height: 100%

  body
    background: #1c0408
    margin: 0

    #document-wrapper
      width: 880px
      margin: 0 auto

      #menu_container
        height: 150px

      #content_container
        width: 100%