//= require_self
//= require fancybox
//= require_tree ./lib/
//= require_tree ./partials

html
  min-height: 100%
  font-family: Segoe UI

  body
    background: #1c0408
    margin: 0

    #document-wrapper
      margin: 0 auto

      #menu_container
        height: 150px

      #content_container
        width: 100%

        #content_block
          background: #ffffff

          #side_menu
            display: inline-block
            vertical-align: top
            a
              position: absolute
              display: block
              height: 100%
              width: 100%
            #side_menu_pic
              background-size: cover

            .side_menu_item
              position: relative
              min-height: 80px
              .side_menu_text
                color: #ffffff
                font:
                  size: 30px
                  weight: bold
                line-height: 1
                margin: 0 15px
                padding-top: 10px
              .side_menu_desc
                color: #ffffff
                font-size: 13px
                margin: 0 15px
                padding-top: 15px
                padding-bottom: 25px

            #side-red
              background: #801429
            #side-yellow
              background: #aba00a
            #side-brown
              background: #442b1a

          #right_block
            position: relative
            display: inline-block
            height: 100%
            nav
              height: 25px
              .top_menu_item
                position: relative
                display: inline-block
                height: 100%
                margin-left: -2px
                a
                  height: 100%
                  width: 100%
                  position: absolute
                .top_menu_text
                  color: #ffffff
                  font-size: 16px
                  text-align: center


.red
  #side_menu_pic
    background-image: url(/images/main-red.png)
  .top_menu_item
    background: #801429
.yellow
  #side_menu_pic
    background-image: url(/images/main-yellow.png)
  .top_menu_item
    background: #aba00a
.brown
  #side_menu_pic
    background-image: url(/images/main-brown.png)
  .top_menu_item
    background: #442b1a


