<div id="attachment_file_uploader"></div>
<script type="text/javascript">
    var uploader = new qq.FileUploader({
        element: document.getElementById('attachment_file_uploader'),
        action: "<%= action_helper %>",
        params: {
           "authenticity_token": "<%= form_authenticity_token %>",
            "name": true
//            "price": true
        },
        customHeaders: { "X-File-Upload": "true" }
    });
</script>