.menu_col{id: 'menu_logo'}
  %a{href: '/', title: 'Вектор - на главную'}
    %img{src: '/images/logo.png'}

.menu_separator

.menu_col{id: 'menu_info'}
  #working_hours_block
    %img{src: '/images/clock_icon.png'}
    #working_hours
      #working_days
        пн-пт 9.00 - 18.00
      #weekends
        сб-вс по предварительной записи
  #summon_block
    #summon_title
      Вызов замерщика:
    #summon_hours
      9.00 - 21.00  без выходных

.menu_separator

.menu_col{id: 'menu_contacts'}
  #phone
    %img{src: '/images/phone_icon.png'}
    #phone_number
      +7 (383) 286-17-20
  #phone_title
    %a{href: '/'}
      Наши контакты